USE [master]
GO
/****** Object:  Database [MissingDogs]    Script Date: 11/14/2016 10:49:14 PM ******/
CREATE DATABASE [MissingDogs]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'MissingDogs', FILENAME = N'C:\Program Files (x86)\Microsoft SQL Server\MSSQL12.MSSQLSERVER\MSSQL\DATA\MissingDogs.mdf' , SIZE = 3072KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'MissingDogs_log', FILENAME = N'C:\Program Files (x86)\Microsoft SQL Server\MSSQL12.MSSQLSERVER\MSSQL\DATA\MissingDogs_log.ldf' , SIZE = 1024KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [MissingDogs].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [MissingDogs]
GO
/****** Object:  User [admin]    Script Date: 11/14/2016 10:49:14 PM ******/
CREATE USER [admin] FOR LOGIN [admin] WITH DEFAULT_SCHEMA=[dbo]
GO
ALTER ROLE [db_owner] ADD MEMBER [admin]
GO
/****** Object:  Table [dbo].[missing]    Script Date: 11/14/2016 10:49:14 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[missing](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[DogName] [varchar](50) NULL,
	[DogBreed] [varchar](50) NULL,
	[LastKnownLocation] [varchar](50) NULL,
	[ContactNumber] [varchar](50) NULL,
	[Found] [bit] NULL,
 CONSTRAINT [PK_missing_1] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
SET IDENTITY_INSERT [dbo].[missing] ON 

INSERT [dbo].[missing] ([Id], [DogName], [DogBreed], [LastKnownLocation], [ContactNumber], [Found]) VALUES (1, N'arthur', N'Powell', N'75 Warbler Point', N'86-(440)420-6408', 1)
INSERT [dbo].[missing] ([Id], [DogName], [DogBreed], [LastKnownLocation], [ContactNumber], [Found]) VALUES (2, N'Samuel', N'Gilbert', N'37501 Jay Junction', N'1-(904)442-3136', 0)
INSERT [dbo].[missing] ([Id], [DogName], [DogBreed], [LastKnownLocation], [ContactNumber], [Found]) VALUES (3, N'Brian', N'Lane', N'91811 Northwestern Circle', N'46-(619)284-2784', 0)
SET IDENTITY_INSERT [dbo].[missing] OFF
USE [master]
GO
